<div class="container text-center col-md-6">
    <form action="/toy/edit/{{toy._id}}" method="post">
        <h1>Edit Toy</h1>
        <label for="">Name</label><br>
        <input type="text" name="name" value="{{ toy.name }}"><br><br>
        <label for="">Price</label><br>
        <input type="number" name="price" value="{{ toy.price }}"><br><br>
        <label for="">Quantity</label><br>
        <input type="number" name="quantity" value="{{ toy.quantity }}"><br><br>
        <label class="form-label" for="toyImage">Brand</label>
          <select class="form-control" name="brand" id="">
          {{#each brand }}
            <option value="{{ _id }}">{{ name }}</option>
          {{/each}}
        </select>
        <input type="submit" value="Edit">
    </form>
</div>