<!DOCTYPE html>
<html>

<head>
   <Center>

      <h1 style="font-size: 2rem; font-style: italic;">ATN Toys</h1>
   </Center>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"
      integrity="sha512-nSAEI+AJviWxyWlHArb2/57ZF3jGbmYr3Ky3/2PsqhkFh+DkDG+zWfBKiWk5uGvO7zWKZMB8E8MQBw/M3Jwew=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <style>
      th {
         cursor: pointer;
      }

      .toy-image {
         width: 100px;
         height: 100px;
         object-fit: cover;
      }

      .action-buttons {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 5px;
      }

      .sorted {
         background-color: #eee;
      }
   </style>
</head>

<body>
   <div class="container mt-5">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="d-flex justify-content-between align-items-center mb-3">
               {{#if isAdmin}}
               <div>
                  <a class="btn btn-primary" href="/toy/add">Add new Toy</a>
                  <a class="btn btn-primary" href="/brand/add">Add new Brand</a>
               </div>
               {{/if}}
            </div>
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th id="name"><a href="#">Name</a></th>
                     <th>Brand</th>
                     <th>Price</th>
                     <th>Quantity</th>
                     <th>Image</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each toyList}}
                  <tr>
                     <td>{{name}}</td>
                     <td>
                        <a href="/brand/detail/{{brand._id}}">
                           {{brand.name}}
                        </a>
                     </td>
                     <td>${{price}}</td>
                     <td>{{quantity}}</td>
                     <td>
                        <a href="/toy/detail/{{_id}}"> 
                        <img class="toy-image" src="{{imageUrl}}" alt="{{name}}">
                        </a>
                     </td>
                     <td class="action-buttons">
                        <a class="btn btn-primary" href="/toy/addToCart/{{_id}}">Buy</a>
                     </td>
                  </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <script>
      const headers = document.querySelectorAll('th');
      let currentSortIndex = 0;
      let sortAscending = true;

      headers.forEach((header, index) => {
         header.addEventListener('click', () => {
            sortTable(index);
         });
      });

      function sortTable(index) {
         const rows = Array.from(document.querySelectorAll('tbody tr'));
         const sortedRows = rows.sort((a, b) => {
            const aValue = a.children[index].textContent.trim();
            const bValue = b.children[index].textContent.trim();

            if (sortAscending) {
               return aValue.localeCompare(bValue);
            } else {
               return bValue.localeCompare(aValue);
            }
         });

         sortedRows.forEach((row, i) => {
            row.style.transition = `all ${i * 50}ms ease-in-out`;
            document.querySelector('tbody').appendChild(row);
         });

         headers[currentSortIndex].classList.remove('sorted');
         headers[index].classList.add('sorted');
         currentSortIndex = index;
         sortAscending = !sortAscending;
      }
   </script>
</body>

</html>