<body>
   <h1>Toys List</h1>
   <a class="btn paper-btn mb-3" href="/toy/add">Add new Toy</a>
   <table class="table table-info" id="toyTable">
      <thead>
         <tr>
            <th><a></a>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         {{#each toyList }}
         <tr>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
            <td>{{ quantity }}</td>
            <td>
               <a href="/toy/detail/{{_id}}">
                  <img src="{{imageUrl}}" width="100" height="100">
               </a>
            </td>
            <td>
               <a href="/toy/addToCart/{{ _id }}">Buy</a> |
               <a href="/toy/edit/{{ _id }}">Edit</a>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>

   <script>
      // Get all the headers
      var headers = document.querySelectorAll("th");

      // Initialize the sort order to 'asc' (ascending)
      var sortOrder = 'asc';

      // Loop through each header
      for (let i = 0; i < headers.length; i++) {
         // Add a click event listener to each header
         headers[i].addEventListener("click", function () {
            sortTable(i, sortOrder);
            // Toggle the sort order
            sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
         });
      }

      function sortTable(columnIndex, order) {
  var table = document.querySelector("table");
  var tbody = table.querySelector("tbody");

  // Clone the rows
  var rows = Array.from(tbody.querySelectorAll("tr")).map(row => row.cloneNode(true));

  // Sort the cloned rows
  rows.sort(function (rowA, rowB) {
    var cellA = rowA.cells[columnIndex].textContent;
    var cellB = rowB.cells[columnIndex].textContent;

    // Check if the values are numbers or strings
    var numA = Number(cellA);
    var numB = Number(cellB);
    var isNumber =!isNaN(numA) &&!isNaN(numB);

    // Apply the appropriate comparison method
    if (isNumber) {
      return (numA - numB) * (order === 'asc'? 1 : -1);
    } else {
      return cellA.localeCompare(cellB) * (order === 'asc'? 1 : -1);
    }
  });

  // Replace the table body with the sorted rows
  var newTbody = document.createElement("tbody");
  rows.forEach(row => newTbody.appendChild(row));
  table.replaceChild(newTbody, tbody);
}
   </script>

</body>