<div class="row">
   <div class="col-md-5 text-center">
      <img src="{{ brand.logoUrl }}" width="300" height="300">
   </div>
   <div class="col-md-7">
      <ul>
         <li>Name: {{ brand.name }}</li>
         <li>Description: {{ brand.description }}</li>
         <li>Country: {{ brand.country }}</li>
         <li>Website: <a href="{{brand.website}}">{{brand.website}}</a></li>
      </ul>
   </div>
</div>